@font-face {
  font-family: 'CabinetGrotesk';
  font-weight: 700;
  font-style: normal;
  src: local("CabinetGrotesk-Bold"), url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-weight: 900;
  font-style: normal;
  src: local("CabinetGrotesk-Black"), url("../fonts/CabinetGrotesk-Black.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 400;
  font-style: normal;
  src: local("HelveticaNowDisplay-Regular"), url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 500;
  font-style: normal;
  src: local("HelveticaNowDisplay-Medium"), url("../fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 700;
  font-style: normal;
  src: local("HelveticaNowDisplay-Bold"), url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  border: none;
}

button {
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #61594D;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--large {
  max-width: 1440px;
  margin: 0 auto;
}

.none {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
button {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.title {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 121%;
  color: #2C2321;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li.slick-active button {
  background-color: #D6680F;
}

.slick-dots button {
  background-color: #2C2321;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  font-size: 0;
}

.header {
  background-color: #F7F7F7;
  padding: 30px 0 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo {
  padding: 138px 0 175px;
  background-color: #F7F7F7;
  background-image: url("/images/icon/promo-star.svg"), url("/images/promo-house.png");
  background-repeat: no-repeat;
  background-position: top 16px left 26px, top 138px right 0;
}

.promo__title {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 62px;
  line-height: 125%;
  font-weight: 900;
  max-width: 533px;
  color: #2C2321;
  margin-bottom: 20px;
}

.promo__subtitle {
  font-size: 18px;
  line-height: 166%;
  max-width: 452px;
  margin-bottom: 34px;
}

.promo__btn {
  margin-bottom: 100px;
}

.promo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__contact {
  margin-top: 57px;
}

.search__block {
  position: relative;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-box-shadow: 30px 50px 150px 0px #271F1A33;
          box-shadow: 30px 50px 150px 0px #271F1A33;
  padding: 50px;
  margin-top: -106px;
  z-index: 50;
}

.search__block-title {
  font-family: "CabinetGrotesk", sans-serif;
  font-size: 24px;
  line-height: 125%;
  font-weight: 700;
  color: #2C2321;
  margin-bottom: 20px;
}

.product {
  padding: 240px 0 120px;
  background-color: #FFF;
  margin-top: -120px;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item {
  max-width: 290px;
}

.product__item-icon {
  margin-bottom: 30px;
}

.product__item-title {
  margin-bottom: 10px;
}

.product__item-descr {
  line-height: 175%;
  margin-bottom: 30px;
}

.product__item-number {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: #2C2321;
  text-decoration: underline;
}

.product__item-number:hover {
  color: #D6680F;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item ~ .menu__item {
  margin-left: 30px;
}

.menu__link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #2C2321;
  text-transform: uppercase;
}

.menu__link:hover {
  color: #61594D;
}

.btn {
  display: inline-block;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 120%;
  background-color: #D6680F;
  color: #FFF;
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #ee7411;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn__promo {
  padding: 20px 40px;
}

.btn__search {
  padding: 20px 40px;
}

.lang__item {
  display: none;
}

.lang__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__item:first-child::after {
  display: table;
  content: "";
  background-image: url("/images/icon/lang-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 7px;
  margin-left: 9px;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.lang:hover .lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang:hover .lang__item::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lang__link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #2C2321;
  text-transform: uppercase;
}

.toolbar {
  position: relative;
}

.toolbar__lang {
  position: absolute;
  left: -80px;
  top: 10px;
}

.rating {
  letter-spacing: 0.02em;
}

.rating__title {
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #2C2321;
  margin-bottom: 7px;
}

.rating__rank::before {
  display: inline-block;
  content: "";
  background-image: url("/images/icon/rating_star.svg");
  width: 16px;
  height: 16px;
  margin: -1px 5px;
}

.rating__descr {
  line-height: 146%;
  margin-bottom: 20px;
}

.rating__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__item ~ .rating__item {
  margin-left: -10px;
}

.rating__object {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
}

.rating__object-more {
  display: block;
  background-color: #D6680F;
  color: #FFF;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 14px 0;
}

.rating__object-more:hover {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  background-color: #ee7411;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contact {
  max-width: 250px;
}

.contact__phone {
  display: block;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 125%;
  color: #D6680F;
  margin-bottom: 10px;
  text-decoration: underline;
}

.contact__phone:hover {
  color: #ef7c1f;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.contact__descr {
  max-width: 250px;
  font-size: 12px;
  font-weight: 500;
  line-height: 141%;
}

.search-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form__field {
  color: rgba(97, 89, 77, 0.6);
  background-color: #E5E5E5;
  padding: 18px 62px 18px 20px;
  border-radius: 6px;
  font-weight: 500;
  line-height: 147%;
  background-repeat: no-repeat;
  background-position: center right 22px;
}

.search-form__field::-webkit-input-placeholder {
  color: rgba(97, 89, 77, 0.6);
}

.search-form__field:-ms-input-placeholder {
  color: rgba(97, 89, 77, 0.6);
}

.search-form__field::-ms-input-placeholder {
  color: rgba(97, 89, 77, 0.6);
}

.search-form__field::placeholder {
  color: rgba(97, 89, 77, 0.6);
}

.search-form__field-location {
  background-image: url("/images/icon/location.svg");
}

.search-form__field-type {
  background-image: url("/images/icon/home.svg");
}

.search-form__field-budget {
  background-image: url("/images/icon/budget.svg");
}
