@font-face {
  font-family: 'CabinetGrotesk';
  font-weight: 700;
  font-style: normal;
  src: local("CabinetGrotesk-Bold"), url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CabinetGrotesk';
  font-weight: 900;
  font-style: normal;
  src: local("CabinetGrotesk-Black"), url("../fonts/CabinetGrotesk-Black.woff2") format("woff2"), url("../fonts/CabinetGrotesk-Black.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 400;
  font-style: normal;
  src: local("HelveticaNowDisplay-Regular"), url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 500;
  font-style: normal;
  src: local("HelveticaNowDisplay-Medium"), url("../fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  font-weight: 700;
  font-style: normal;
  src: local("HelveticaNowDisplay-Bold"), url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"), url("../fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  border: none;
}

button {
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "HelveticaNowDisplay", sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #61594D;
  background-color: #E5E5E5;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.container--large {
  max-width: 1440px;
  margin: 0 auto;
}

.none {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a,
button {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 124%;
  color: #2C2321;
  font-family: "CabinetGrotesk", sans-serif;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots li {
  margin: 0 15px;
}

.slick-dots li.slick-active button {
  background-color: #D6680F;
}

.slick-dots button {
  background-color: #2C2321;
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  font-size: 0;
}

.header {
  background-color: #F7F7F7;
  padding: 30px 0 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item ~ .menu__item {
  margin-left: 30px;
}

.menu__link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #2C2321;
  text-transform: uppercase;
}

.menu__link:hover {
  color: #61594D;
}

.btn {
  display: inline-block;
  font-family: "CabinetGrotesk", sans-serif;
  font-weight: 700;
  line-height: 120%;
  background-color: #D6680F;
  color: #FFF;
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #ee7411;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.lang__item {
  display: none;
}

.lang__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang__item:first-child::after {
  display: table;
  content: "";
  background-image: url("/images/icon/lang-arrow.svg");
  background-repeat: no-repeat;
  width: 12px;
  height: 7px;
  margin-left: 9px;
}

.lang:hover .lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lang:hover .lang__item::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.lang__link {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #2C2321;
  text-transform: uppercase;
}

.toolbar {
  position: relative;
}

.toolbar__lang {
  position: absolute;
  left: -77px;
  top: 10px;
}
