.btn {
	display: inline-block;
	font-family: $ff2;
	font-weight: 700;
	line-height: 120%;
	background-color: $accent-color;
	color: $white;
	border: none;
	border-radius: 6px;
	padding: 10px 30px;

	&:hover {
		transform: translateY(-2px);
		background-color: lighten($accent-color, 5%);
		border-radius: 4px;
		box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
	}

	&__promo{
		padding: 20px 40px;
	}
}