.menu {

	&__list {
		display: flex;
	}

	&__item {
		&~&{
			margin-left: 30px;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 150%;
		font-weight: 500;
		color: $title-color;
		text-transform: uppercase;

		&:hover{
			color: $text-color;
		}
	}
}