html,
body {
	height: 100%;
}

body {
	font-family: "HelveticaNowDisplay", sans-serif;
	font-size: 16px;
	line-height: 1;
	font-weight: 400;
	color: $text-color;
	background-color: $default-color;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 1440px;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.container--large {
	max-width: 1440px;
	margin: 0 auto;
}

.none {
	display: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

a,
button {
	transition: 0.25s;
}

.title {
	font-family: $ff2;
	font-weight: 900;
	font-size: 32px;
	line-height: 121%;
	color: $title-color;
	&-white {
		font-size: 48px;
		line-height: 125%;
		color: $white;
	}
	
	&-arch{
		font-family: $ff2;
		font-size: 24px;
		line-height: 125%;
		font-weight: 900;
	}

}

.title__large {
	font-family: $ff2;
	font-weight: 900;
	font-size: 48px;
	line-height: 125%;
	color: $title-color;
}