$accent-color: #D6680F;
$title-color: #2C2321;
$text-color: #61594D;
$bg-color: #F7F7F7;
$default-color: #E5E5E5;
$bg-second-color: #FDFBF6;

$white: #FFF;

$ff2: "CabinetGrotesk", sans-serif;

@mixin overflow($line-clamp) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line-clamp;
}

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}

// .content>*:not(:last-child) {
// 	margin-bottom: 35px;
// }

