.aim {
	padding: 120px 0;
	background-color: $bg-second-color;
	background-image: url('/images/aim-house.png');
	background-repeat: no-repeat;
	background-position: top 75px left 0px;

	&__content {
		max-width: 420px;
		margin-left: auto;
	}

	&__content-title {
		margin-bottom: 20px;
	}

	&__content-descr {
		margin-bottom: 40px;
		line-height: 175%;
	}
}